@model LoginViewModel
<head>
    <link href=@Url.Content("~/Styles/app.css") rel="stylesheet" type="text/css"/>
</head>
<body >
    <div class="back">
        <div class="register-window">
            <div class="register-form">
            <form asp-controller="Auth" asp-action="Login" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="header">Login</div>
                <div class="block">
                        <input asp-for="Email" class="input" title="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="block">
                    <input asp-for="Password" class="input" title="Пароль"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="block">
                    <button type="submit" class="button">Sign In</button>
                </div>
                <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl"
                   class="switch-button">Зарегистрироваться</a>
            </form>
            </div>
        </div>
    </div>
    
</body>
